<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="styles.css" rel="stylesheet">
    <title>Lyrics finder</title>
</head>
<body class="bg-neutral-700 flex flex-col min-h-lvh w-full relative">
    <div class="overflow-hidden w-full top-0 bottom-0 absolute">
        <div class="glow-effect rotate-[45deg] opacity-0 -translate-x-1/2 -translate-y-1/2"></div>
        <div class="glow-effect2 rotate-[45deg] opacity-0 -translate-x-1/2 -translate-y-1/2"></div>
    </div>
    <header class="w-full px-5 py-10 border-b-2 bg-[rgb(24,24,24)] border-cyan-400 z-10 relative">
        <section class="">
            <h1 class="text-white text-center text-3xl md:text-4xl font-bold tracking-widest ">FIND YOUR SELF</h1>
        </section>
    </header>
    <main class="w-full flex flex-col grow relative z-10">
        <div class="relative bg-[url(bgImage.png)] w-full bg-cover bg-no-repeat bg-center">
            <section class="w-full flex justify-center items-center container mx-auto py-10 sm:py-20 md:py-32">
                <form action="/" method="POST" class="text-white flex flex-col w-full max-w-[20em] md:max-w-[30em] bg-black/50 py-5 px-10 md:py-10 md:px-20 rounded-lg">
                    <label for="artist" class="block text-sm/6 font-medium text-white">Artist</label>
                    <input type="text" class="rounded-md bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-4 focus-within:-outline-offset-2 focus-within:outline-indigo-600 block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6" id="artist" name="artist" placeholder="Coldplay" >
                    <label for="artist" class="block text-sm/6 font-medium text-white">Title</label>
                    <input type="text" class="rounded-md bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-4 focus-within:-outline-offset-2 focus-within:outline-indigo-600 block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6" id="title" name="title" placeholder="Adventure of a Lifetime" >
                    <button class="mt-4 p-2 w-auto grow-0 bg-gradient-to-r rounded-md font-bold cursor-pointer active:brightness-95 active:translate-y-1 duration-150 ease-in-out hover:brightness-95 from-lime-400 to-green-600"></button>
                </form>
            </section>
        </div>
        <div class="relative w-full grow py-11 opacity-container">
            <div class="absolute inset-0 pointer-events-none -z-10 custom-background"></div>   
            <section class="container mx-auto max-w-[30em] md:max-w-[40em] rounded-md py-5 px-10 flex flex-col justify-center items-start bg-white">
                <% if(locals.title){ %>
                <h1 class="text-4xl md:text-6xl text-zinc-800 font-bold mb-2 w-full">
                    <%=title%>
                </h1>
                <% }%>
                <% if(locals.url){ %>
                    <a href="<%=url%>" target="_blank" class=" text-zinc-500 mb-5 md:mb-10 cursor-pointer w-full">
                        <%=url%>
                    </a>
                <% }%>
                <% if(locals.lyrics){ %>
                <p class="break-words text-base w-full">
                    <%-lyrics%>
                </p>
                <% } else{ %>
                    <p class="break-words text-base w-full">
                        Some lyrics...
                    </p>
                <% } %>
            </section>
        </div>
        
    </main>
    <script src="animation.js" type="module"></script>
</body>
</html>