.custom-background {
    background-color: transparent;
    background-image: 
      linear-gradient(335deg, rgb(24, 24, 24) 110px, transparent 110px),
      linear-gradient(155deg, rgb(24, 24, 24) 110px, transparent 110px),
      linear-gradient(335deg, rgb(24, 24, 24) 110px, transparent 110px),
      linear-gradient(155deg, rgb(24, 24, 24) 110px, transparent 110px);
    background-size: 262px 244px;
    background-position: 
      21px -3px, /*second bottom tingle*/
      22px 120px,/*second top tingle*/
      115px 119px,/*first bottom tingle*/
      116px -2px;/*first top tingle*/
  }

.glow-effect {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(
      circle, 
      rgba(100, 200, 255, 0.8) 0%, 
      transparent 70%
    );
    pointer-events: none;
    mix-blend-mode: screen;
    transform: translate(-50%, -50%);
  }